html {
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
}

p {
	text-align: center;
}

a {
	color: white;
	top: 10%;
}

img {
	position: relative;
	width: 99%;
	height: 98%;
}


#content {
	position: absolute;
	background-color: #ddd;
	float: left;
	margin-left: 19%;
	bottom: 45%;
	width: 30%;
	height: 10%;
}

#slider {
	position: absolute;
	background-color: #eee;
	margin-left: 50%;
	bottom: 45%;
	width: 30%;
	height: 10%;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 0 auto;
}

/*
header
header.nav
content
content.text
content.slider
nav
footer*/

.button {
	border: 2px solid #333; /*рамка*/
	display: inline-block;
	padding: 5px 15px; /*поля*/
	text-decoration: none; /*Убираем подчеркивание*/
	color: #FFFAF0; /*text color*/
}

.button:hover { /*обрамление класса button*/
	box-shadow: 0 0 5px rgba(0,0,0,0.3); /*тень*/
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /*Градиент*/
	color: #a00; /*цвет при наведении на кнопку*/
}

